{% extends "base.html" %}
{% load staticfiles%}
<html class="no-js" lang="zxx">

<head>
    {% block js %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Account</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"> -->
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css2/toastr.js.map' %}">
        <link rel="stylesheet" href="{% static 'css/toastr.css' %}">
        <script src="{% static 'js/toastr.min.js' %}"></script>
    <!-- All css files are included here -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static 'css/core.css'%}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css'%}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    <!-- Modernizr JS -->
{#    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js'%}"></script>#}
    {% endblock %}
</head>
<body>
 {% block content %}
<div class="wrapper">
         <div class="breadcrumbs-area breadcrumbs-bg ptb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumbs-inner">
                            <h5 class="breadcrumbs-disc m-0">带给你最好的购物体验</h5>
                            <h2 class="breadcrumbs-title text-black m-0">我的账号 </h2>
                            <ul class="top-page">
                                <li><a href="/">主页</a></li>
                                <li>></li>
                                <li>修改密码</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
        <div class="register-area pt-100">
                <div class="container" style="margin-right: 40px">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="registered-customers"style="margin-right: 100px">
                                <h4 class="text-uppercase mb-20"><strong>用户修改密码</strong></h4>
                                <form  method="post" style="position: center">
                                    {% csrf_token %}
                                    <div class="login-account p-40 box-shadow">
                                        <input type="password" placeholder="当前用户密码" name="passwd"id="new_passwd">
                                        <input type="password" placeholder="新密码" name="new1_passwd"id="new1_passwd">
                                        <input type="password" placeholder="再次确认新密码" name="new2_passwd"id="new2_passwd">
                                        <button type="button" class="cart-button text-uppercase" onclick="Change()">确定</button>
                                        <script type="text/javascript">
                                                function Change(){
                                                    var p1 = document.getElementById("new_passwd").value;
                                                    var p2 = document.getElementById("new1_passwd").value;
                                                    var p3 = document.getElementById("new2_passwd").value;
                                                    $.ajax({
                                                        url:'/change_own_password',
                                                        data:{'passwd':p1, 'new1_passwd':p2, 'new2_passwd':p3},
                                                        dataType: 'text',
                                                        type:'POST',
                                                        success:function(data){
                                                              if (data == '密码修改成功') {
                                                                toastr.options.positionClass = 'toast-top-center';
                                                                toastr.success(data);
                                                            } else {
                                                                toastr.options.positionClass = 'toast-top-center';
                                                                toastr.error(data);
                                                            }
                                                        }
                                                    });
                                                }
                                            </script>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
 {% endblock %}
