{% extends "base.html" %}
{% load staticfiles%}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% block js %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Abot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"> -->

    <!-- All css files are included here -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{%static 'css/core.css'%}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{%static 'css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{%static 'css/responsive.css' %}">
    <!-- User style -->
    <link rel="stylesheet" href="{%static 'css/custom.css' %}">

    <!-- Modernizr JS -->
    <script src="{%static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    {% endblock %}
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    {% block content %}
    <div class="wrapper">
        <!-- Start of header area -->
        <!-- End of header area -->
        <!-- Start Breadcrumbs Area -->
        <div class="breadcrumbs-area breadcrumbs-bg ptb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumbs-inner">
                            <h5 class="breadcrumbs-disc m-0">Best Products for you</h5>
                            <h2 class="breadcrumbs-title text-black m-0">ABOUT FORGE </h2>
                            <ul class="top-page">
                                <li><a href="/">Home</a></li>
                                <li>></li>
                                <li>About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <!-- End Breadcrumbs Area -->
        <!-- Start page content -->
        <section id="page-content" class="page-wrapper pt-10">
            <!-- Banner Area Start -->
            <div class="banner-two-area">
                <div class="banner-two-bottom">
                    <div class="single-banner-two">
                        <div class="banner-two-img">
                            <a href="#">
                                <img src="{% static 'images/banner/8.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="banner-two-text left-middle-bottom">
                            <div class="banner-two-opacity-inner">
                                <div class="banner-two-text-inner banner-bottom-text-inner text-uppercase">
                                    <h2 class="bottom-banner-title">NEW COLLECTION</h2>
                                    <h2>hand bag</h2>
                                    <a href="#" class="btn-shop">SHOP NOW</a>
                                </div>
                                <div class="banner-opacity text-center bags text-uppercase">
                                    <h1>BAG’S</h1>
                                </div>                              
                            </div>
                        </div>
                    </div>
                    <div class="single-banner-two">
                        <div class="banner-two-img">
                            <a href="#">
                                <img src="{% static 'images/banner/9.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="banner-two-text right-middle-bottom">
                            <div class="banner-two-opacity-inner">
                                <div class="banner-two-text-inner banner-bottom-text-inner text-uppercase">
                                    <h2 class="bottom-banner-title">WOMEN’S</h2>
                                    <h2>summer</h2>
                                    <h2>collection</h2>
                                    <a href="#" class="btn-shop">VIEW COLLECTION</a>
                                </div>
                                <div class="banner-opacity text-center summer text-uppercase">
                                    <h1>SUMMER</h1>
                                </div>                              
                            </div>
                        </div>
                    </div>
                    <div class="single-banner-two">
                        <div class="banner-two-img">
                            <a href="#">
                                <img src="{%static 'images/banner/10.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="banner-two-text middle-middle-bottom">
                            <div class="banner-two-opacity-inner">
                                <div class="banner-two-text-inner banner-bottom-text-inner text-uppercase">
                                    <h2 class="bottom-banner-title">T-SHIRT</h2>
                                    <h2>COLLECTION</h2>
                                    <h2 class="m-0">FOR ALL</h2>
                                    <a href="#" class="btn-shop">SHOP NOW</a>
                                </div>
                                <div class="banner-opacity text-center t-shirt text-uppercase">
                                    <h1>T-SHIRT</h1>
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Area End -->
            <!-- Start About Top Area -->            
            <div class="about-top-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="about-top-img b-img">
                                <img alt="" src="{%static 'images/about/1.jpg' %}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="about-top-text">
                                <h4 class="about-title mb-35"><span class="text-defualt">FORGE</span> THE LARGEST COLLECTION FOR YOU</h4>
                                <p>ge is the best online shop for your online shopping orem ipsum dolor sit amet, consectetur adipiscing elit, </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nia, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm.</p>
                                <p class="display-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                                <div class="signature">
                                    <img alt="" src="{%static 'images/about/signature.png' %}">
                                    <h6><a href="#">Arizona Smith</a></h6>
                                    <a href="#">Forge Owner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End About Top Area -->            
            <!-- Start About Middle Area -->     
            <div class="about-middle-area">
               <div class="container">
                   <div class="row">
                       <div class="col-sm-6">
                            <div class="section-title text-center mb-35">
                                <h2 class="text-uppercase"><strong>NEWS FROM THE BLOG</strong></h2>
                                <p class="text-defualt">FROM THE BLOG</p>
                                <img alt="" src="{%static 'images/section-border.png' %}">
                            </div>
                            <div class="about-middle-inner">
                               <h4 class="text-uppercase mb-20"><strong>NEWS FROM THE BLOG</strong></h4>
                               <div class="about-middle-content">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm jedo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad inim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquiLorem </p>
                                    <ul class="mission-list">
                                        <li>
                                            <img alt="" src="{%static 'images/about/check.png' %}">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                        </li>
                                        <li>
                                            <img alt="" src="{%static 'images/about/check.png' %}">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                        </li>
                                    </ul>
                                    <ul class="mission-list">
                                        <li>
                                            <img alt="" src="{%static 'images/about/check.png' %}">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                        </li>
                                        <li>
                                            <img alt="" src="{%static 'images/about/check.png' %}">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                        </li>
                                    </ul>
                               </div>
                               <div class="news-to-blog display-none">
                                   <h4 class="text-uppercase mb-20"><strong>NEWS FROM THE BLOG</strong></h4>
                                   <div class="about-middle-content">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm jedo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad inim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquiLorem </p>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm jedo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad inim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquiLorem </p>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm jedo tempor incididunt ut labore et dolore magna aliqua enim ad inim </p>
                                   </div>                                   
                               </div> 
                            </div>
                       </div>
                        <div class="col-sm-6">
                            <div class="about-middle-inner-right">
                                <div class="about-middle-inner-right-img b-img">
                                    <img alt="" src="{%static 'images/about/2.jpg' %}">
                                </div>
                                <ul class="about-middle-inner-right-text pt-15 b-img">
                                    <li><img src="{%static 'images/about/3.jpg' %}"alt=""></li>
                                    <li><img src="{%static 'images/about/4.jpg'%}" alt=""></li>
                                </ul>
                            </div>
                        </div>
                   </div>
               </div>
           </div>       
            <!-- End About Middle Area -->  
            <!-- Start Why Choose Us Area -->  
            <div class="why-choose-us-area pt-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center mb-35">
                                <h2 class="text-uppercase"><strong>WHY CHOOSE US</strong></h2>
                                <p class="text-defualt">WHY CHOOSE US</p>
                                <img src="{%static 'images/section-border.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <ul class="about-icon-list">
                                <li class="about-single-icon mb-50">
                                    <div class="about-icon">
                                        <img src="{%static 'images/about/icon/1.png' %}" alt="">
                                    </div>
                                    <div class="choose-content pl-70">
                                        <h5 class="text-defualt mb-20 text-uppercase"><strong>FREE SHIPPING</strong></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                    </div>
                                </li>
                                <li class="about-single-icon">
                                    <div class="about-icon">
                                        <img src="{%static 'images/about/icon/2.png' %}" alt="">
                                    </div>
                                    <div class="choose-content pl-70">
                                        <h5 class="text-defualt mb-20 text-uppercase"><strong>SECURE CHECKOUT</strong></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul class="about-icon-list">
                                <li class="about-single-icon mb-50">
                                    <div class="about-icon">
                                        <img src="{%static 'images/about/icon/3.png' %}" alt="">
                                    </div>
                                    <div class="choose-content pl-70">
                                        <h5 class="text-defualt mb-20 text-uppercase"><strong>OrDER ONLINE</strong></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                    </div>
                                </li>
                                <li class="about-single-icon">
                                    <div class="about-icon">
                                        <img src="{%static 'images/about/icon/4.png' %}" alt="">
                                    </div>
                                    <div class="choose-content pl-70">
                                        <h5 class="text-defualt mb-20 text-uppercase"><strong>24/7 SUPPORT</strong></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 hidden-sm">
                            <ul class="about-icon-list">
                                <li class="about-single-icon mb-50">
                                    <div class="about-icon">
                                        <img src="{%static 'images/about/icon/5.png' %}" alt="">
                                    </div>
                                    <div class="choose-content pl-70">
                                        <h5 class="text-defualt mb-20 text-uppercase"><strong>MONEY BACK</strong></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                    </div>
                                </li>
                                <li class="about-single-icon m-0">
                                    <div class="about-icon">
                                        <img src="{%static 'images/about/icon/6.png' %}" alt="">
                                    </div>
                                    <div class="choose-content pl-70">
                                        <h5 class="text-defualt mb-20 text-uppercase"><strong>GIFT COUPON</strong></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Why Choose Us Area -->  
            <!-- Start Brand Area -->
            <!-- End Brand Area -->
        </section>
        <!-- End page content -->
        <!-- Start footer area --
        <!-- End footer area -->               
    </div>
    {% endblock %}
    <!-- Body main wrapper end -->    

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js' %}"></script>
    <!-- Bootstrap framework js -->
    <script src="{%static '/js/bootstrap.min.js' %}"></script>
    <!-- All js plugins included in this file. -->
    <script src="{%static '/js/plugins.js' %}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{%static '/js/main.js' %}"></script>

</body>

</html>
