{% extends "base.html" %}
{% load staticfiles%}
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% block js %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
    ============================================ -->
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'lib/custom-slider/css/nivo-slider.css'%}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/custom-slider/css/preview.css'%}" media="screen" />

    <!-- Fontawsome CSS
    ============================================ -->
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css '%}">

    <!-- material iconic CSS
    ============================================ -->
    <link rel="stylesheet" href="{%static 'css2/material-design-iconic-font.css '%}">
    <link rel="stylesheet" href="{% static 'css2/material-design-iconic-font.min.css' %}">

    <!-- owl.carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'css2/owl.carousel.css'%}">

    <!-- jquery-ui CSS
    ============================================ -->
    <link rel="stylesheet" href="{%static 'css2/jquery-ui.css'%}">

    <!-- meanmenu CSS
    ============================================ -->
    <link rel="stylesheet"   href="{% static 'css2/meanmenu.min.css'%}">

    <!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'css2/animate.css'%}">

    <!-- Color Switcher CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'css2/color.css'%}">
    <link rel="stylesheet" href="{% static "css2/color-switcher.css"%}">

    <!-- Animate headline CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'css2/animate-heading.css'%}">
    <link rel="stylesheet" href="{% static 'css2/reset.css'%}">

    <!-- Video CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'css2/jquery.mb.YTPlayer.css'%}">

    <!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="{%  static 'css2/style.css' %}">

    <!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'css2/responsive.css'%}">

    <!-- modernizr JS
    ============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    {% endblock %}
    <!-- Color Css Files Start -->

    <!-- Color Css Files End -->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% block content %}
<div class="as-mainwrapper">
    <div class="bg-white">
        <!-- header start -->
        <!-- header end -->
        <!-- banner start -->
        <!-- banner end -->
        <!-- cart start -->
        <div class="cart-area-start mt-90">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <form action="#">
                            <div class="cart-table table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="p-name">商品名称</th>
                                        <th class="p-amount">单价</th>
                                        <th class="p-quantity">数量</th>
                                        <th class="p-total">总价</th>
                                    </tr>
                                    </thead>
                                    <tbody class="pt-30">
                                    {% for each in carts %}
                                        <tr>
                                        <td class="p-name text-left">
                                            <div class="cart-img">
                                                <a href="#"><img src=" {%static 'images/cuntdown/1.jpg'%}" alt="#"></a>
                                            </div>
                                            <a href="#">{{ each.product_name }}</a>
                                            <p class="c-p-size"><span>大小: </span> {{ each.size }}</p>
                                            <p class="c-p-size"><span>颜色:</span>{{each.color}}</p>
                                        </td>
                                        <td class="p-amount"><span class="amount">{{each.price}}</span></td>
                                        <td class="p-quantity"><input type="text" value="1">{{ each.amount }}</td>
                                        <td class="p-total">{{ each.total_money}} <a href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="float: right">
                        <div class="cart-coupon-rightside pt-50">
                            <div class="section-title">
                                <h4 class="text-uppercase pb-15">购物车总价</h4>
                            </div>
                            <div class="amount-table table-responsive">
                                <table>
                                    <tbody>
                                    <tr class="s-total">
                                        <td>商品总额: <span>￥390.00</span></td>
                                    </tr>
                                    <tr class="s-total">
                                        <td>邮费<span>￥0.00</span></td>
                                    </tr>
                                    <tr class="g-total">
                                        <td>总金额<span class="grand">￥390.00</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="check-update pull-right">
                                <a href="#" class="mt-25 mr-25 section-button">刷新</a>
                                <a href="checkout.html" class="checkout mt-25 section-button">生产订单</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>

