{% load staticfiles %}


<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Start of header area -->
    <header>
        <div class="header-top gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 hidden-xs">
                        <div class="header-top-left">
                            <ul class="header-top-style text-capitalize mr-25">
                                <li><a href="#"><span class="mr-10">我的账户</span><i class="fa fa-angle-down"></i></a>
                                    <ul class="ul-style my-account box-shadow white-bg">
                                        <li><a href="/login.html">登录</a></li>
                                        <li><a href="/my-account.html">我的账户</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="header-top-middle">
                            <ul class="header-top-style">
                                <li>
                                    <a href="login.html">
                                        <span>{{login_msg}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="header-top-right">
                            <span><input type="text" class="pl-10" placeholder="" name ="search" id="input_search"></span>
                             <span class="mr-20"><a onclick="SearchFunction()"><img alt="" src="{% static 'images/header/search-icon.png'%}"></a></span>
                             <script language=Javascript>
                                 function SearchFunction()
                                 {
                                 var input = document.getElementById("input_search");
                                 var key = input.value;
                                 window.location.href="/search_result&&input_key="+key
                                 }
                             </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row header-middle-content">
                    <div class="col-md-5 col-sm-4 hidden-xs">
                        <div class="service-inner mt-10">
                                <span class="service-img b-img">
                                    <img alt="" src="{% static 'images/service.png'%}">
                                </span>
                            <span class="service-content ml-15"><strong>13X XXXX XXXX</strong><br>7*24 营业</span>
                        </div>
                    </div>
                    <div class="col-md-offset-0 col-md-5 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6">
                        <div class="shopping-cart">
                            <a href="#">
                                    <span class="shopping-cart-control">
                                        <img alt="" src="{% static 'images/shop.png'%}">
                                        {# 购物车样式 #}
                                    </span>

                                <span class="cart-size-value"><strong>购物车</strong><br>$</span>
                                {# 购物车内的物品总数 以及 价格 #}
                            </a>
                            <ul class="shopping-cart-down box-shadow white-bg">
                                <li class="media">
                                    <a href="#"><img alt="" src="{% static 'images/cart/1.jpg'%}"></a>
                                    <div class="cart-item-wrapper">
                                        <a href="#">Zelletria ostma</a>
                                        <span class="quantity">
                                                <span class="amount">$195</span>
                                                 x 2
                                        </span>
                                        <a title="Remove this item" class="remove" href="#">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="media">
                                    <span class="total-title pull-left">总价</span>
                                    <span class="total pull-right">$845</span>
                                </li>
                                <li class="media">
                                    <a class="cart-btn" href="#">查看详情</a>
                                    <a class="cart-btn" href="#">提交订单</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <nav class="primary-menu">
                        <ul class="header-top-style text-uppercase">
                            <li><a href="/">主页</a></li>
                            <li><a href="/about.html">关于我们</a></li>
                            <li><a href="/shop.html">商品</a></li>
                            <li><a href="/my-account.html">我的账号</a></li>
                            <li><a href="/login.html">登录</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="/">主页</a></li>
                                    <li><a href="/about.html">关于我们</a></li>
                                    <li><a href="/shop.html">商品</a></li>
                                    <li><a href="/my-account.html">我的账号</a></li>
                                    <li><a href="/login.html">登录</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu End -->
    </header>
    <!-- End of header area -->
</div>
<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Bootstrap framework js -->
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- All js plugins included in this file. -->
<script src="{% static 'js/plugins.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
</body>

</html>
