{% extends "base.html" %}
{% load staticfiles%}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% block js %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Account</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/core.css'%}">
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'css/move/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/move/main.css'%}" id="color-switcher-link">
    <link rel="stylesheet" href="{% static 'css/move/animations.css'%}">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css2/toastr.js.map' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.css' %}">
    <script src="{% static 'js/toastr.min.js' %}"></script>
    {% endblock %}
</head>
<section>
 {% block content %}
<div class="wrapper">
         <div class="breadcrumbs-area breadcrumbs-bg ptb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumbs-inner">
                            <h5 class="breadcrumbs-disc m-0">带给你最好的购物体验</h5>
                            <h2 class="breadcrumbs-title text-black m-0">我的账号 </h2>
                            <ul class="top-page">
                                <li><a href="/">主页</a></li>
                                <li>></li>
                                <li>修改密码</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>

    <section id="page-content" >
        <div class="register-area pt-100">
                <div class="container" style="margin-right: 40px">
                    <div class="row">
                        <div class="col-xs-12  col-md-5 col-sm-6">
                            <div class="registered-customers"style="margin-right: 100px">
                                <h4 class="text-uppercase mb-20"><strong>用户修改密码</strong></h4>
                                <form  method="post" style="position: center">
                                    {% csrf_token %}
                                    <div class="login-account p-30 box-shadow">
                                        <div class="row">
                                            <div>
                                        <input type="password" placeholder="当前用户密码" name="passwd"id="new_passwd">
                                            </div>
                                        <input type="password" placeholder="新密码" name="new1_passwd"id="new1_passwd">
                                            <div>
                                        <input type="password" placeholder="确认新密码" name="new2_passwd"id="new2_passwd">
                                            </div>
                                            <div>
                                        <button type="button" class="cart-button text-uppercase" onclick="Change()">确定</button>
                                        <button class="cart-button text-uppercase" type="reset">重置</button>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                                function Change(){
                                                    var p1 = document.getElementById("new_passwd").value;
                                                    var p2 = document.getElementById("new1_passwd").value;
                                                    var p3 = document.getElementById("new2_passwd").value;
                                                    $.ajax({
                                                        url:'/change_own_password',
                                                        data:{'passwd':p1, 'new1_passwd':p2, 'new2_passwd':p3},
                                                        dataType: 'text',
                                                        type:'POST',
                                                        success:function(data){
                                                              if (data == '密码修改成功') {
                                                                toastr.options.positionClass = 'toast-top-center';
                                                                toastr.success(data);
                                                            } else {
                                                                toastr.options.positionClass = 'toast-top-center';
                                                                toastr.error(data);
                                                            }
                                                        }
                                                    });
                                                }
                                            </script>
                                    </div>
                                </form>
                                <script type="text/javascript">
                                   function myAlert(){
                                if(document.getElementById("type").value=="nothing"){
                                       toastr.options.positionClass = 'toast-top-center';
                                       toastr.error("请选择一个购买的规格吧亲");
                                   }
                                   else {
                                        var amount_index = document.getElementById("amount_index").value;
                                        var value = document.getElementById("type").value;
                                        var color = document.getElementById("color").value;
                                        var amount_str = document.getElementById("re_username").value;
                                        var amount = parseInt(amount_str);
                                        var id = "{{product.id}}";
                                        $.ajax({
                                            url: "/ajax_add_cars",
                                            data: {"id": id, "amount": amount,"color":color,"value":value,"amount_index":amount_index},
                                            dataType: 'text',
                                            type: 'POST',
                                            success: function (data) {
                                                if (data == "添加购物车成功") {
                                                    toastr.options.positionClass = 'toast-top-center';
                                                    toastr.success(data);
                                                } else {
                                                    toastr.options.positionClass = 'toast-top-center';
                                                    toastr.error(data);
                                                }
                                            }
                                        });
                                }
                                  }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
    </div>
</body>
 {% endblock %}
