{% load staticfiles %}
<head>
	<meta charset="utf-8">
{#	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">#}
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Start of header area -->
    <header>
        <div class="header-top gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 col-xs-4">
                        <div class="header-top-left">
                            <ul class="header-top-style ">
                                <li><a href="#"><span class="mr-10">账户管理</span><i class="fa fa-angle-down"></i></a>
                                    <ul class="ul-style my-account box-shadow white-bg">
                                        <li><a href="/my-account.html">个人信息</a></li>
                                        <li><a href="/changed_password.html">修改密码</a></li>
                                        <li><a type="button" onclick="log_out()">注销</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <script type="text/javascript">
                                   function log_out(){
                                        $.ajax({
                                            url: "/log_out",
                                            type: 'POST',
                                            success: function (data) {
                                                if (data == "注销成功") {
                                                    location.href="./login.html";
                                                    {#toastr.options.positionClass = 'toast-top-center';#}
                                                    {#toastr.success("注销成功")#}
                                                    alert("注销成功")
                                                } else {
                                                    toastr.options.positionClass = 'toast-top-center';
                                                    toastr.error("请先登录");
                                                }
                                            }
                                        });
                                  }
                                </script>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <div class="header-top-middle">
                            <ul class="header-top-style" >
                                <li>
                                    <a href="/login.html">{{login_msg}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <div class="header-top-right">
                            <span><input type="text" class="pl-10" placeholder="" name ="search" id="input_search"onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\ ]/g,'')" onpaste="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\ ]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\ ]/g,''></span>
                             <span class="mr-20"><a onclick="SearchFunction()"><img alt="" src="{% static 'images/header/search-icon.png'%}"></a></span>
                             <script language=Javascript>
                                 window.onload=function()
                                   {
                                     var inputs=document.getElementsByTagName_r("input");
                                     for (var i=0;i<inputs.length; i++) {
                                     if(inputs[i].getAttribute("type")=="text")
                                     inputs[i].onkeyup=function(){
                                     this.value=this.value.replace(/(^\s+)|\s+$/g,"");
                                         };
                                        }
                                      }
                                 function refresh()
                                 {
                                 document.getElementById('input_search').value = "";
                                 }
                                 function SearchFunction()
                                 {
                                 var input = document.getElementById("input_search");
                                 var key = input.value

                                 if(key!="")
                                 window.location.href="/search_result&&input_key="+key;
                                 else
                                 {input.value = "请输入搜索内容";
                                 setTimeout("refresh()",300);
                                 }

                                 }
                             </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row header-middle-content">
                    <div class="col-md-5 col-sm-4 hidden-xs">
                        <div class="service-inner mt-10">
                                <span class="service-img b-img">
                                    <img alt="" src="{% static 'images/service.png'%}">
                                </span>
                            <span class="service-content ml-15"><strong>13X XXXX XXXX</strong><br>LucyStudio 营业: 9AM — 9PM</span>
                        </div>
                    </div>
                    <div class="col-md-offset-0 col-md-5 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6">
                        <div class="shopping-cart">
                            <a href="/cart.html">
                                    <span class="shopping-cart-control">
                                        <img alt="" src="{% static 'images/shop.png'%}">
                                    </span>
                                <span class="cart-size-value"><strong>购物车</strong></span>
                                {# 购物车内的物品总数 以及 价格 #}
                            </a>
                            </ul>
                        </div>
                    </div>
                    <nav class="primary-menu">
                        <ul class="header-top-style text-uppercase">
                            <li><a id="mainpage" href="/">主页</a></li>
                            <li><a href="/about.html">关于我们</a></li>
                            <li><a href="/shop.html">商品</a></li>
                            <li><a href="/my-account.html">个人信息</a></li>
                            <li><a href="/cart.html">购物车</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Start -->

        <div class="mobile-menu-area">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="/">主页</a></li>
                                    <li><a href="/about.html">关于我们</a></li>
                                    <li><a href="/shop.html">商品</a></li>
                                    <li><a href="/my-account.html">个人信息</a></li>
                                    <li><a href="/cart.html">购物车</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Mobile Menu End -->
    </header>
    <!-- End of header area -->
</div>
<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
{#<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>#}
<!-- Bootstrap framework js -->
{#<script src="{% static 'js/bootstrap.min.js'%}"></script>#}
<!-- All js plugins included in this file. -->
{#<script src="{% static 'js/plugins.js'%}"></script>#}
{#<script src="{% static 'js/main.js'%}"></script>#}
</body>

</html>
