{% extends "base.html" %}
{% load staticfiles%}
<html class="no-js" lang="zxx">
<head>
    {% block js %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login / Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/core.css'%}">
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'css/move/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/move/main.css'%}" id="color-switcher-link">
    <link rel="stylesheet" href="{% static 'css/move/animations.css'%}">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css2/toastr.js.map' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.css' %}">
    <script src="{% static 'js/toastr.min.js' %}"></script>
    {% endblock %}
</head>
<body>
{% block content %}
    <h1>您好: {{ customer }}!</h1>
{% endblock %}
</body>
</html>